h1 {
  text-align: center;
  /*color: #191970;*/
  color: #0d0d0d;

}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Verdana;
  background: url(../img/DSC_0419a.jpg);
  background-size: cover;
  }

form {
  /*align-content: center;*/
  text-align: center;
  align-items: center;
  background-color: gray;
  border: 5px solid #000;
  margin: 0 auto;
  width: 500px;
}

.subject {
  font-size: 20px;
  font-family: Verdana;
  margin-bottom:10px;
  padding: 8px 6px;
  height: 50px;
  width:400px;
  box-sizing: border-box;
}

input[type=text], input[type=email] {
    font-size: 20px;
    font-family: Verdana;
    margin-bottom:10px;
    padding: 8px 6px;
    height: 38px;
    width:250px;
    box-sizing: border-box;
}

input[type=text], input[type=email] {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

input[type=tel] {
    font-size: 20px;
    font-family: Verdana;
    margin-bottom:10px;
    padding: 8px 6px;
    height: 38px;
    width:250px;
    box-sizing: border-box;
}

input[type=tel] {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

input[type=submit], input[type=reset]{
    /*font-size: 20px;
    font-family: Verdana;
    margin-bottom:10px;
    padding: 8px 6px;*/
    height: 38px;
    width:100px;
    /*box-sizing: border-box;*/
}
textarea {
  font-size: 20px;
  font-family: Verdana;
  margin-bottom:20px;
  padding: 8px 6px;
  height: 100px;
  width:300px;
  box-sizing: border-box;
}

textarea {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

fieldset {
        padding: 10px;
    }

.navbar {
  font-size:  1.6rem ; /* 16px */
  margin:0 auto;
}

ul.nav {
font-family: Verdana;
font-size:20px;
list-style:none;
margin:0 auto;
margin-bottom: 2em;
padding:0;
width: auto;
overflow: auto;
text-align: center;
}

ul.nav li {
display:inline-block;
width: 24%;
}

ul.nav li a {
text-decoration:none;
display: block;
padding:5px 21px;
background:#303030;
color:#eee;
float:center;
text-align:center;
border-top:2px solid #808080;
border-right:2px solid #999999;
border-bottom:2px solid #999999;
border-left:2px solid #808080;
box-sizing: border-box;
}


ul.nav li a:hover {
background: #a9a9a9;
color:#000;
border-top:2px solid #808080;
border-right:2px solid #b3b3b3;
border-bottom:2px solid #b3b3b3;
border-left:2px solid #808080;
}


body {
padding: 20px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5;
font-size: 14px;
}

.carousel {
		width: 480px;
		overflow:hidden;
    margin: 0 auto;
	}

.carousel ul {
		width: 1920px;
		padding: 0;
		margin: 0;
	}

.carousel ul li {
		width:900px;
		text-align: center;
		height: 900px;
		list-style: none;
    /*list-style: circle;*/
		float:	left;
	}
